{%extends 'base.html.twig'%}
{% block title 'Mon Agence' %}

{% block body %}
	<div class="container mt-4">

		<div class="jumbotron text-center">
			<h1>Mon Agence</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, repellat. Sit maxime dolore cum quam libero, id sapiente quasi deserunt? Sunt illo sed adipisci blanditiis iusto minus tenetur exercitationem quia.</p>
		</div>
	</div>
{% endblock %}
